
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 120
# isort
multi_line_output = 5
order_by_type = true
known_third_party=numpy,scipy,matplotlib,sklearn,theano,gensim,lasagne
not_skip=__init__.py
